<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign in</title>
</head>
<body>

<form action="/login" method="post">
  <div>
    <label for="uname"><b>Username</b></label>
    <input type="text" name="uname" maxlength="100" placeholder="Enter user name"/>
    <label for="upwd"><b>Password</b></label>
    <input type="password" name="upwd" maxlength="32" placeholder="Enter password">
    <button type="submit" name="signin">Sign In</button>
  </div>
  <!-- Sign-up -->
  <!-- TODO
  <div>
    I want to <a href="#">sign up</a> for a new account.
  </div>
  -->
</form>
</body>
</html>
